<!DOCTYPE html>
<html>
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>-->

    <script type = 'text/javascript' src = 'file:///C:/Users/wesre/Downloads/280/capstone-2/routes/count.js'></script>
    <!--<script src = "main.js"></script> -->
<head>
    <body>
        <h1>working html index!</h1>
        <h2 id ="cnum">count number</h2>
        <button id ="increment" type="button">Counter</button>

        

      <!--  <script>
            function counter() {
    document.getElementById("increment").innerHTML = "";
}
        </script>
    -->
    </body>
</head>

</html>