<!DOCTYPE html>
<html>
<body>
    <script type="text/javascript">
        function signUp(){
    
if (document.getElementById("pword").value == document.getElementById("pword2").value){
    console.log("passwords match!");
    alert("Account succesfully made!")
    window.location.href='/';
}
else{
    console.log("incorrect");
    alert("Passwords dont match");
}

}
    </script>
  <form>
    <label for="uname">UserName:</label>
  <input type="text" id="uname" name="uname"><br><br>
  <label for="pword">Password:</label>
  <input type="text" id="pword" name="pword"><br><br>
  <label for="pword2">Repeat Password:</label>
  <input type="text" id="pword2" name="pword2"><br><br>
  <button id ="signup" onclick = "signUp()" type="button">Sign up</button>
</form>

<script>
    document.getElementById("user").innerHTML() = document.getElementById("uname").value;
</script>


</body>
</html>